:is(*, *::after, *::before) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  width: 100svw;
  height: 100svh;
  color: mediumaquamarine;
  background-color: rgb(70, 71, 71);
  font-family: monospace;
}


/* Styling App Container */
.app-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.app-inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Styling Search Container */
.search-images-container{
  margin-top: 30px;
}


/* Styling Card Box */
.show-all-images{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px 20px;
}

.card {
  border: 2px solid mediumaquamarine;
  box-shadow: 0 0 10px;
  border-radius: 8px;
  margin-top: 50px;
}

.card img {
  width: 100%;
}

.card .title {
  padding: 10px;
  font-size: 1.2em;
  background-color: transparent;
}

